* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Header part Style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1.6rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner part Style */
.banner-content {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner img {
    width: 100%;
}

/* Main part Style */
main {
    max-width: 1440px;
    margin: 0 auto;
}


/* Team section style */
.teams {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}



.section-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.section-title .text-features {
    color: #FF900E;
    font-weight: 700;
}


/* Features Style */
.feature {
    display: flex;
    gap: 8.75rem;
    margin-top: 130px;
}

.feature-title {
    padding: 0 30px;
    max-width: 29rem;
    border-left: 5px solid #FF900E;
}

.feature-conten {
    width: 50%;
}

.feature-img {
    width: 50%;
}

.feature-card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.card-title {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}

.feature-img {
    position: relative;
}

.feature-badges {
    width: 18.7rem;
    text-align: center;
    border-radius: 8px;
    background: #FF900E;
    padding: 45px;
    position: absolute;
    bottom: 50px;
    left: -80px;
}

.feature-badges h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    margin: 0px;
}

.feature-badges p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0px;
}

/* Facts section sytle */
.facts {
    margin-top: 130px;
}

.facts-content {
    width: 40%;
}

/* progress section */
.progress {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.facts-title {
    margin: 0px;
}

.progress-card {
    padding: 2rem;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.card-state {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px;
}

.card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0px;
}

/* Sponsers Section */
.sponsers {
    text-align: center;
    margin-bottom: 130px;
}

.sponser-content {
    width: 40%;
    margin: auto;
}

.sponser-title {
    margin: 5px;
}

.sponser-logo {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.sponser-logo img {
    filter: grayscale(100%);
}

.sponser-logo img:hover {
    filter: none;
}

footer {
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px;
    margin-bottom: 200px;
}



/* Responsive Style */
@media screen and (max-width: 576px) {

    /* Header part */
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        padding: 0;
    }

    nav li {
        margin: 0.5rem;
    }

    /* Banner Section */
    .banner-title {
        font-size: 3rem;

    }

    /* Teams Section */
    .teams {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    /* Feature Section */
    .feature {
        flex-direction: column;
        gap: 4rem;
    }

    .feature-img img {
        width: 100%;
    }

    .feature-img {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feature-badges {
        width: 90%;
        padding: 20px;
        margin: auto;
        position: static;
        margin-top: 1rem;
    }

    /* Progress section Style */
    .facts {
        margin-top: 50px;
    }

    .facts-content {
        width: 100%;
    }


    .progress {
        flex-direction: column;
        gap: 1rem;
    }

    .progress-card {
        width: 80%;
    }

    /* Sponser section */
    .sponser-content {
        width: 80%;
        margin: auto;
    }

    .sponser-logo {
        margin: 50px auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sponser-logo img {
        width: 60%;
    }
}

/* Tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {

    /* Header part */
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        padding: 0;
    }

    nav li {
        margin: 1rem;
    }

    /* Teams Section */
    .teams {
        flex-direction: column;
    }

    /* Feature section */
    .feature {
        flex-direction: column;
        gap: 1rem;
    }

    .feature-img {
        width: 100%;
        margin: auto;
    }

    .feature-img img {
        width: 100%;
        margin: auto;
    }

    .feature-badges {
        width: 95%;
        padding: 20px;
        margin: auto;
        position: static;
        margin-top: 1rem;
    }

    .facts {
        margin-top: 50px;
    }

    .facts-content {
        width: 100%;
    }


    .progress {
        flex-direction: column;
        gap: 1rem;
    }

    .progress-card {
        width: 80%;
    }

    .sponser-content {
        width: 80%;
        margin: auto;
    }

    .sponser-logo {
        margin: 50px auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sponser-logo img {
        width: 60%;
    }


}