* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

.section-description {
    color:#727272;
    font-size: 1rem;
    font-weight: 400;
}
/* Header part Style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1.6rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner part Style */
.banner-content {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner img {
    width: 100%;
}

/* Main part Style */
main {
    max-width: 1440px;
    margin: 0 auto;
}


/* Team section style */
.teams {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}


.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

.feature{
    display: flex;
}


/* Responsive Style */
@media screen and (max-width: 576px) {
    /* Header part */
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        padding: 0;
    }

    nav li {
        margin: 0.5rem;
    }

    /* Teams Section */
    .teams{
        flex-direction: column;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
}

/* Tablet or medium device */
@media screen and (min-width: 576px) and (max-width: 960px) {
    /* Header part */
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        padding: 0;
    }

    nav li {
        margin: 1rem;
    }
    /* Teams Section */
    .teams{
        flex-direction: column;
    }
}